:root {
    --color-primary: #EAA34D
    --color-secondary: #EDEDF4
    --color-text: #231942
    
}/* You can add global styles to this file, and also import other style files */

body {
    background-color: white; 
}