:root {
  --color-primary: #eaa34d;
  --color-secondary: #ededf4;
  --color-text-80: #231942;
  --color-text-70: #38286a;
  --color-text-60: #5e548e;
  --color-text-50: #9f86c0;
  --color-rgb-text-50: rgba(159, 134, 192, 0.3);
  --color-background-gray: #ededf4;
  --color-white: #fcfcff;
  --color-black: #140e24;
  --max-read-length: 800px;
  --gradient-primary: linear-gradient(
    180deg,
    #ffdbaf 0%,
    #ededf4 52.08%,
    #fff 97.92%
  );
  --font-xs: 0.75em;
  --font-s: 0.875em;
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Nova Mono", monospace;
} /* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  font-family: sans-serif;
  color: var(--color-text-80);
  margin: 0;
  padding: 0;
  background: white;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: var(--font-s);
}

.xsmall {
  font-size: var(--font-xs);
}

.bodyL {
  font-size: 1.1em;
}

body {
  margin-top: 73px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

h1 {
  font-family: "Nova Mono", monospace;
  color: var(--color-text-80);
  margin: 0;
  font-size: 3em;
}
h2 {
  font-family: "Nova Mono", monospace;
  color: var(--color-text-70);
  margin: 0;
  font-size: 2em;
}

h3 {
  font-family: "Nova Mono", monospace;
  color: var(--color-text-60);
  font-size: 1.5em;
  margin: 0;
}

h4 {
  font-family: "Nova Mono", monospace;
  color: var(--color-text-50);
  font-size: 1.25em;
  margin: 0;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media print {
  body {
    margin: 0;
  }
}

/* Breakpoints */
/* SM */

/* sm	@media (min-width: 640px) { ... }	≥640px
md	@media screen and (min-width: 768px)	≥768px
lg	@media screen and (min-width: 1024px)	≥1024px
xl	@media screen and (min-width: 1280px)	≥1280px
2xl	@media screen and (min-width: 1536px)	≥1536px */
